<html lang="en">

<head>
   <title>Live Tracking</title>
   <link rel="stylesheet" href="https://cdn.statically.io/gh/jackyes/GoLiveTracking/main/static/leaflet.css"
      type="text/css">
   <script src="https://cdn.statically.io/gh/jackyes/GoLiveTracking/main/static/leaflet.min.js"
      type="text/javascript"></script>
   <style type="text/css">
      #map {
         height: 100%
      }

      .button-container {
         display: flex;
         height: 40px;
      }

      #btn-stop,
      #btn-resume {
         width: 100%;
         height: 100%;
      }

      #btn-stop {
         background-color: red;
         margin-right: 5px;
      }

      #btn-resume {
         background-color: green;
         color: white;
      }
   </style>
   <meta http-equiv="refresh" content="{{.MapRefreshTime}}">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
   <div class="button-container">
      <button id="btn-stop" onclick="stopLT()">Stop Live Tracking Updating</button>
      <button id="btn-resume" onclick="location.reload()">Resume Live Tracking Updating - Refresh in:<span id="countdown"></span></button>
   </div>
   <div id="distance"></div>
   <div id="map"></div>
   <script type="text/javascript">
      var totalDistance = 0;

      function getDistance(lat1, lon1, lat2, lon2) {
         const R = 6371e3; // metres
         const φ1 = lat1 * Math.PI / 180; // φ, λ in radians
         const φ2 = lat2 * Math.PI / 180;
         const Δφ = (lat2 - lat1) * Math.PI / 180;
         const Δλ = (lon2 - lon1) * Math.PI / 180;

         const a = Math.sin(Δφ / 2) * Math.sin(Δφ / 2) +
            Math.cos(φ1) * Math.cos(φ2) *
            Math.sin(Δλ / 2) * Math.sin(Δλ / 2);
         const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

         const d = R * c; // in metres
         return d;
      }

      function getParameterByName(name, url) {
         if (!url) url = window.location.href;
         name = name.replace(/[\[\]]/g, '\\$&');
         var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
         if (!results) return null;
         if (!results[2]) return '';
         return decodeURIComponent(results[2].replace(/\+/g, ' '));
      }

      function stopLT() {
         if (source) {
            source.close();
         }
      }

      // initialize the map
      var map = L.map('map').setView([{{.DefaultLat }}, {{.DefaultLon }}], {{.DefaultZoom }});
      L.control.scale().addTo(map)
      map.options.minZoom = {{.MinZoom }};
      map.options.maxZoom = {{.MaxZoom }};
      // load a tile layer
      const basemaps = {
         OpenStreetMap: L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap<\/a> contributors', subdomains: ['a', 'b', 'c'] }),
         OpenTopoMap: L.tileLayer('https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', { maxZoom: 20, attribution: 'Map data: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap<\/a>, <a href="http://viewfinderpanoramas.org">SRTM<\/a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap<\/a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA<\/a>)', subdomains: ['a', 'b', 'c'] }),
         GoogleStreets: L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', { attribution: '&copy; GoogleMap', maxZoom: 20, subdomains: ['mt0', 'mt1', 'mt2', 'mt3'] }),
         GoogleHybrid: L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', { attribution: '&copy; GoogleMap', maxZoom: 20, subdomains: ['mt0', 'mt1', 'mt2', 'mt3'] }),
         GoogleSat: L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', { attribution: '&copy; GoogleMap', maxZoom: 20, subdomains: ['mt0', 'mt1', 'mt2', 'mt3'] }),
         GoogleTerrain: L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}', { attribution: '&copy; GoogleMap', maxZoom: 20, subdomains: ['mt0', 'mt1', 'mt2', 'mt3'] }),
      };

      var overlay = {
         HikingTrails: L.tileLayer('https://tile.waymarkedtrails.org/{id}/{z}/{x}/{y}.png', { id: 'hiking', attribution: '&copy; <a href="http://waymarkedtrails.org">Sarah Hoffmann<\/a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA<\/a>)' }),
         CyclingTrails: L.tileLayer('https://tile.waymarkedtrails.org/{id}/{z}/{x}/{y}.png', { id: 'cycling', attribution: '&copy; <a href="http://waymarkedtrails.org">Sarah Hoffmann<\/a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA<\/a>)' }),
      };

      L.control.layers(basemaps, overlay).addTo(map);
      basemaps.OpenStreetMap.addTo(map);
      var markerGroup = L.layerGroup().addTo(map);

      {{ if .ShowOnlyLastPos}} {{else }}
      var latlngs = [
         {{ range .Latlonhistory }}[{{.}}],
            {{ end }}
         ];

      var polyline = L.polyline(latlngs, { color: 'red' }).addTo(map);
      // zoom the map to the polyline
      map.fitBounds(polyline.getBounds());

      for (var i = 1; i < latlngs.length; i++) {
         const prevLatLng = latlngs[i - 1];
         const currLatLng = latlngs[i];
         const distance = getDistance(prevLatLng[0], prevLatLng[1], currLatLng[0], currLatLng[1]);
         totalDistance += distance;
      }

      document.getElementById("distance").innerHTML = "Distance: " + (totalDistance / 1000).toFixed(2) + " km";
      {{ end }}
      {{.Lastpos }}
      var user = getParameterByName('user'); // get the value of the 'user' variable from the query string
      var session = getParameterByName('session'); // get the value of the 'session' variable from the query string
      var source = new EventSource("/events?user=" + user + "&session=" + session)
      source.addEventListener("location", function (event) {
         var data = JSON.parse(event.data);
         markerGroup.clearLayers();
         L.marker([data.lat, data.lng]).addTo(markerGroup).bindPopup('Lat: ' + data.lat + '<br>Lon: ' + data.lng + '<br>Altitude: ' + data.alt + '<br>Speed: ' + data.speed + '<br>Time: ' + data.time + '<br>Bearing: ' + data.bearing + '<br>HDOP: ' + data.hdop).openPopup();
         {{ if .ShowPrecisonCircle}}
         var circle = L.circle([data.lat, data.lng], {
            color: 'blue',
            fillColor: '#003',
            fillOpacity: 0.3,
            radius: data.hdop
         }).addTo(markerGroup);

         {{ end }}
         L.marker([data.lat, data.lng]).addTo(markerGroup);
         latlngs.push([data.lat, data.lng]);
         polyline.setLatLngs(latlngs);
         if (latlngs.length > 1) {
            const prevLatLng = latlngs[latlngs.length - 2];
            const currLatLng = latlngs[latlngs.length - 1];
            const distance = getDistance(prevLatLng[0], prevLatLng[1], currLatLng[0], currLatLng[1]);
            totalDistance += distance;
            document.getElementById("distance").innerHTML = "Total displayed Distance: " + (totalDistance / 1000).toFixed(2) + " km";
         }
      });
      var countdownDuration = {{.MapRefreshTime}};

      function updateCountdown() {
         var countdownElement = document.getElementById('countdown');
         var timeLeft = Math.max(countdownDuration - Math.floor((new Date() - startTime) / 1000), 0);
         countdownElement.innerHTML = ' (' + timeLeft + 's)';
      }

      var startTime = new Date();
      var countdownInterval = setInterval(updateCountdown, 1000);

      updateCountdown();

      setTimeout(function () {
         clearInterval(countdownInterval);
         location.reload();
      }, countdownDuration * 1000);

   </script>
</body>

</html>
