
L.marker([{{.Lat}},{{.Lon}}]).addTo(map).bindPopup('Lat: {{.Lat}}<br>Lon: {{.Lon}}<br>Altitude: {{.Alt}}<br>Speed: {{.Speed}}<br>Time: {{.Time}}<br>Bearing: {{.Bearing}}<br>HDOP: {{.Hdop}}').openPopup();
{{if .ShowPrecisionCircle}}
var circle = L.circle([{{.Lat}}, {{.Lon}}], {
	color: 'blue',
	fillColor: '#g03',
	fillOpacity: 0.3,
	radius: {{.Hdop}}
	}).addTo(map);
{{end}}
